**PROJECT TITLE**: A/B test for email marketing campaign

- Date Created: March 27 2024
- Project Type: Research Project
- Author: Aniekan Charles Ekanem
- Designation: Data Analyst

**PROJECT INTRODUCTION**

This is a test project using fake data which could be applied on a real time data to study the opening rate of two sample email letter headings to decide on which header is best to use to run an email marketing campaign for a business.

Data used for this purpose is a fake data. However, the idea of this project is to run a test analysis to see how subscribers will respond to two subject titles and then making business decision on which one to use for the final phase of the marketing campaign.

This study is to use SQL in analyzing a dataset using SQLite3 to connect the dataset to a blank table within a named SQLite database while the table takes up the content of the dataset ready for further analysis.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import csv
import sqlite3

In [2]:
# install the ipython-sql library
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython-sql) (2.0.29)
Requirement already satisfied: sqlparse in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: backcall in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.0)
Requirement already satisfied: matplotlib-inline in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: exceptiongroup in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in /home/aniekan/.pyenv/versions/3.10.6/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
# Load dataframe

df = pd.read_csv('/home/aniekan/jupyterlab_datasets_for_practice/email_subject_line_open_rate.csv')

In [4]:
# Activate sqlite3 library and use it to create a connection, call the name of this connection "connect_pipe'.  
# This connection is linked to a newly formed database for this purpose called "email_marketing_fcwaiz.db"

connect_pipe = sqlite3.connect('email_marketing_fcwaiz.db')

In [5]:
# Note that 'email_marketing_fcwaiz.db' is a blank database created, so that 'email_marketing_campaign_fcwaiz' is 
# added to it as a table in sqlite3 to be used for further query

cursor = df.to_sql('email_marketing_campaign_fcwaiz', connect_pipe)  # Summary here is that the data(df) is being set up in the database, i.e (df) is transferred 
                                                                     # to the newly formed table "email_marketing_campaign_fcwaiz" which was created in the a blank database 
                                                                     # called "email_marketing_fcwaiz.db"

In [6]:
# load the sql module to ipython using line magic (%)
%load_ext sql

In [14]:
# This points the Jupyter sql library to the database to be used
%sql sqlite:///email_marketing_fcwaiz.db

In [15]:
%%sql

SELECT *
FROM email_marketing_campaign_fcwaiz
LIMIT 5

 * sqlite:///email_marketing_fcwaiz.db
Done.

[(0, 1001, 'Subject A', 1),
 (1, 1002, 'Subject B', 1),
 (2, 1003, 'Subject A', 1),
 (3, 1004, 'Subject B', 1),
 (4, 1005, 'Subject B', 1)]

In [30]:
%%sql

SELECT
    subject_line,
    COUNT(*) AS total_emails,
    SUM(CASE WHEN opened_status THEN 1 ELSE 0 END) AS total_opened,
    AVG(CAST(opened_status AS INTEGER)) AS open_rate
FROM 
    email_marketing_campaign_fcwaiz
GROUP BY
    subject_line;

 * sqlite:///email_marketing_fcwaiz.db
Done.

[('Subject A', 4520, 2358, 0.5216814159292036),
 ('Subject B', 4480, 2273, 0.5073660714285714)]

In [48]:
%%sql

SELECT
    'Subject B less A' AS subject_line,
    (SELECT COUNT(*) FROM email_marketing_campaign_fcwaiz WHERE subject_line = 'Subject A') - 
    (SELECT COUNT(*) FROM email_marketing_campaign_fcwaiz WHERE subject_line = 'Subject B') AS 'difference',
    0 AS total_opened,
    0 AS open_rate

 * sqlite:///email_marketing_fcwaiz.db
Done.

[('Subject B less A', 40, 0, 0)]

From the above table while analysing which subject has the tendency in encouraging recipient to open an email, opening rate for Subject a is 52% while that of B is 51%; this shows there isn't any significant difference between the two in terms of having the tendency of having a higher opening rate since subject A is more than subject B.  This suggests that Subject A is likely to have a higher opening rate than Subject B.

However, there are factors beyond just the open rate that should be considered while analyzing the effectiveness of email subjects in encouraging recipients to open emails such as timing of email delivery, if the email is addressing known influx of social media trending issues, relevance of the email content to the subject line, sender's reputation, previous engagement metrics, the email's design, etc.

For this reason, with the conclusion stated, it is important to conduct further analysis, experimentation to determine which subject line is more effective overall in encouraging recipients to open the emails.  Additionally, marketers can continuously monitor and optimize email campaigns based on recipient behaviour and feedback as these can improve the overall effectiveness in the long run.

In [ ]:
# Resources: https://youtu.be/sDY_fKe_JVw

**END OF DOCUMENTATION COMMENTARY**

connect_pipe = sqlite3.connect('email_marketing_fcwaiz.db')

cursor = df.to_sql('email_marketing_campaign_fcwaiz', connect_pipe)

In the above code snippet, the second line of code "cursor = df.to_sql('email_marketing_campaign_fcwaiz', connect_pipe)" means that the DataFrame df is being transferred to a table named 'email_marketing_campaign_fcwaiz' within the SQLite database named 'email_marketing_fcwaiz.db'.

The to_sql() function in pandas is used to write records stored in a DataFrame to a SQL database. In this case, it's writing the contents of the DataFrame df into a table named 'email_marketing_campaign_fcwaiz' within the SQLite database 'email_marketing_fcwaiz.db', which you've established a connection to with the sqlite3.connect() function.

Once the data is written to the SQLite database, you can indeed analyze it using SQL queries, as SQLite supports SQL queries for data retrieval and manipulation. You can execute SQL queries against the database using the cursor object returned by connect_pipe.cursor()